.chat-bubble {
  margin: 20px 0;
  display: flex;

  &.self {
    flex-direction: row-reverse;
  }

  &.other {
    flex-direction: row;
  }
}

.chat-bubble-text {
  max-width: 250px;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 8px 18px;
}