#ChatView {
  overflow: hidden;
  height: 100vh;
  background: var(--dark-grey);
  transition: background 0.5s;
}

#ChatInput {
  height: 80px;
  display: flex;
  align-items: center;

  form {
    margin-left: 55px;
    width: calc(100% - 110px);
    height: 40px;
  }

  input {
    width: 100%;
    height: 100%;
    padding: 13px;
    background: #ddd;
    border: none;

    &:focus {
      outline: none;
    }
  }
}
