#CreateRoomModal {
  padding: 30px;
  width: 400px;
  height: 390px;

  form {
    display: flex;
    flex-direction: column;

    .form-group {
      display: flex;
      flex-direction: column;
    }

    .form-group label {
      margin: 10px 0;
    }

    input[type="text"], input[type="password"] {
      height: var(--form-height);
      border: var(--grey-border);
      padding: 0 10px;
      font-size: 1.1rem;
    }
  }
}