#CreateStickerModal {

  height: 450px;

  h2 {
    margin-bottom: 15px;
  }

  video {
    max-width: 300px;
  }
}

#StickerEmotion {
  width: 100%;
  margin-top: 20px;
}

#StartRecordingSticker.Recording {
  background: #b8312f;
  color: var(--light);
}

#StartRecordingSticker.Done {
  background: #296ab1;
  color: var(--light);
}
