*, html {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

*:before, *:after {
  box-sizing: inherit;
}

html {
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 0.95rem;
}

#root {
  min-width: 960px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.one-third {
   width: 33.3333%;
   float: left;
   height: 100%;
}

.two-third {
  width: 66.6666%;
  float: left;
  height: 100%;
}

.faint-right-border {
  border-right: 1px solid rgba(221,221,221,0.07);
}

.faint-top-border {
  border-top: 1px solid rgba(221,221,221,0.07);
}

.faint-bottom-border {
  border-bottom: 1px solid rgba(221,221,221,0.07);
}