@lost flexbox flex;

:root {
  --sidebar-width: 380px;
}

*, html {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

*:before, *:after {
  box-sizing: inherit;
}

html {
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 0.95rem;
}

#root {
  margin: 0 auto;
}

.flex {
  display: flex;
}

.main-body {
  width: calc(100vw - var(--sidebar-width));
  float: left;
  height: 100%;
  overflow-x: hidden;
}

.faint-right-border {
  border-right: var(--faint-border);
}

.faint-top-border {
  border-top: var(--faint-border);
}

.faint-bottom-border {
  border-bottom: var(--faint-border);
}