
body {
  font: 1.5em Helvetica, Arial;
  height: 100%;
  padding-bottom: 2.3em;
  overflow:auto;
}

form {
  background: #2c3e50;
  height: 2.3em;
  width: 100%;
  padding: 3px;
  position: fixed;
  bottom: 0;
  margin: 0;
}

form input {
  border: 0;
  font-size: 1em;
  /*height: 2px;*/
  height: 2em;
  width: 85%;
  padding:0.5em;
  margin-right: .5%;
}

form button {
  background: #27ae60;
  border: none;
  color: white;
  font-size: 1em;
  height: 2em;
  width: 14%;
  padding: 10px;
}

#joiners {
  background-color:#2c3e50;
  color: white;
  height: 2em;
  opacity:0.9;
  padding: 0.5em 0 1em 2em;
  z-index: 3;
}

#joined  { color: #40d47e; }

#messages {
  list-style-type: none;
  margin: 0;
  max-height: 90%;
  padding: 0;
}

#messages li { padding: 5px 10px; }

/* == Individual messages == */
.time { color: #2c3e50; }

.name { color: #2980b9; }