
#MessageList {
  height: calc(100vh - 140px);
  width: calc(100vw - var(--sidebar-width) + 15px);
  overflow-y: scroll;
  padding-left: 15px;
  padding-right: 30px;
}

.chat-bubble {
  margin: 10px 0;
  display: flex;

  &.self {
    flex-direction: row-reverse;
    .chat-bubble-text {
      background: var(--dark-grey);
      color: var(--light);
    }
  }

  &.other {
    flex-direction: row;
    .chat-bubble-text {
      background: var(--light);
      color: var(--dark-grey-solid);
    }
  }
}

.chat-bubble-text {
  max-width: 250px;
  border-radius: 12px;
  padding: 8px 18px;
}

.chat-bubble-sticker {
  max-width: 250px;

  video {
    border-radius: 12px;
    width: 100%;
  }
}