
@keyframes sidebar-fade {
  from {opacity: 0;}
  to {opacity: 1;}
}

@media (width <= 1000px) {

  .sidebar {
    display: none;
    animation: sidebar-fade 250ms ease-in-out both;
  }

  .sidebarOpen {
    animation: sidebar-fade 250ms ease-in-out both;
    display: block;
    position: fixed;
  }

  .main-body {
    width: 100vw;
  }

  #MessageList {
    width: calc(100vw + 15px);
  }

  #RoomTitle {
    padding-left: 20px;
  }

  .back-button {
    display: block;
  }

  #CloseSidebar {
    opacity: 1;
  }

}