#RoomList {
  height: calc(100vh - 80px);
  overflow-y: scroll;
  width: calc(var(--sidebar-width) + 15px);
}

#RoomList {
  .room {
    height: 80px;
  }

  .room .info {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ddd;
  }

  .room .info .username {
    font-weight: bold;
  }
}