:root {
  --room-side-length: 80px;
}

#RoomList {
  height: calc(100vh - var(--room-side-length));
  overflow-y: scroll;
  width: calc(var(--sidebar-width) + 15px);
}

#RoomList {
  .room {
    height: var(--room-side-length);
  }

  .user {
    width: var(--room-side-length);
  }

  .info {
    width: calc(100% - var(--room-side-length) - 15px);
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ddd;
  }

  .info .username {
    font-weight: bold;
  }

  .info .last-message {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .info .time-sent {
    text-align: right;
    font-size: 0.7rem;
    padding-right: 15px;
  }
}